@model Nop.Plugin.Payments.Stripe.Models.ConfigurationModel

@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Stripe Payment - Configuration";
}

<div class="content-header clearfix">
    <h1>Stripe Payment Settings</h1>
</div>

<form asp-controller="StripePayment" asp-action="Configure" method="post">
    <div class="content">
        <div class="form-horizontal">
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="SecretKey" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="SecretKey" />
                    <span asp-validation-for="SecretKey"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="PublishableKey" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="PublishableKey" />
                    <span asp-validation-for="PublishableKey"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="UseTestMode" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="UseTestMode" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="AdditionalFee" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AdditionalFee" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="AdditionalFeePercentage" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AdditionalFeePercentage" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-9 offset-md-3">
            <button type="submit" name="save" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>